<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>lon</key>
		<string>113.501948</string>
		<key>lat</key>
		<string>22.987106</string>
		<key>name</key>
		<string>莲花山</string>
		<key>address</key>
		<string>广东省广州市番禺区石楼镇莲花山旅游区</string>
	</dict>
	<key>2</key>
	<dict>
		<key>lon</key>
		<string>113.333977</string>
		<key>lat</key>
		<string>23.005989</string>
		<key>name</key>
		<string>长隆旅游度假区</string>
		<key>address</key>
		<string>广东省广州市番禺区大石街道长隆旅游度假区</string>
	</dict>
	<key>3</key>
	<dict>
		<key>lon</key>
		<string>113.330115</string>
		<key>lat</key>
		<string>22.992913</string>
		<key>name</key>
		<string>汉溪长隆(地铁站)</string>
		<key>address</key>
		<string>广东省广州市番禺区钟村街道汉溪长隆(地铁站)</string>
	</dict>
	<key>4</key>
	<dict>
		<key>lon</key>
		<string>113.316082</string>
		<key>lat</key>
		<string>22.986414</string>
		<key>name</key>
		<string>钟村</string>
		<key>address</key>
		<string>广东省广州市番禺区钟村街道荣丰纺织</string>
	</dict>
	<key>5</key>
	<dict>
		<key>lon</key>
		<string>113.366465</string>
		<key>lat</key>
		<string>22.978216</string>
		<key>name</key>
		<string>天安科技创新大厦</string>
		<key>address</key>
		<string>广东省广州市番禺区东环街道天安科技创新大厦</string>
	</dict>
	<key>6</key>
	<dict>
		<key>lon</key>
		<string>113.367323</string>
		<key>lat</key>
		<string>22.981238</string>
		<key>name</key>
		<string>天安节能科技园成果展示中心</string>
		<key>address</key>
		<string>广东省广州市番禺区东环街道天安节能科技园成果展示中心</string>
	</dict>
	<key>7</key>
	<dict>
		<key>lon</key>
		<string>113.363632</string>
		<key>lat</key>
		<string>22.978453</string>
		<key>name</key>
		<string>广发银行(迎宾路支行)</string>
		<key>address</key>
		<string>广东省广州市番禺区东环街道广发银行(迎宾路支行)</string>
	</dict>
	<key>8</key>
	<dict>
		<key>lon</key>
		<string>113.359169</string>
		<key>lat</key>
		<string>22.976695</string>
		<key>name</key>
		<string>万博翠湖花园</string>
		<key>address</key>
		<string>广东省广州市番禺区东环街道万博翠湖花园</string>
	</dict>
	<key>9</key>
	<dict>
		<key>lon</key>
		<string>113.364233</string>
		<key>lat</key>
		<string>22.972645</string>
		<key>name</key>
		<string>信业悦都荟</string>
		<key>address</key>
		<string>广东省广州市番禺区东环街道信业悦都荟</string>
	</dict>
	<key>10</key>
	<dict>
		<key>lon</key>
		<string>113.372967</string>
		<key>lat</key>
		<string>23.052197</string>
		<key>name</key>
		<string>番禺YH城</string>
		<key>address</key>
		<string>广东省广州市番禺区小谷围街道YH城</string>
	</dict>
	<key>11</key>
	<dict>
		<key>lon</key>
		<string>113.313743</string>
		<key>lat</key>
		<string>23.035057</string>
		<key>name</key>
		<string>东海商务中心</string>
		<key>address</key>
		<string>广东省广州市番禺区洛浦街道东海商务中心</string>
	</dict>
	<key>12</key>
	<dict>
		<key>lon</key>
		<string>113.316318</string>
		<key>lat</key>
		<string>23.017521</string>
		<key>name</key>
		<string>三和大厦</string>
		<key>address</key>
		<string>广东省广州市番禺区大石街道三和大厦</string>
	</dict>
	<key>13</key>
	<dict>
		<key>lon</key>
		<string>113.327991</string>
		<key>lat</key>
		<string>22.963872</string>
		<key>name</key>
		<string>祈福</string>
		<key>address</key>
		<string>广东省广州市番禺区钟村街道祈福</string>
	</dict>
	<key>14</key>
	<dict>
		<key>lon</key>
		<string>113.348762</string>
		<key>lat</key>
		<string>22.9986</string>
		<key>name</key>
		<string>海印又一城奥特莱斯广场</string>
		<key>address</key>
		<string>广东省广州市番禺区南村镇番禺大道北辅路北383号</string>
	</dict>
	<key>15</key>
	<dict>
		<key>lon</key>
		<string>113.347517</string>
		<key>lat</key>
		<string>22.995815</string>
		<key>name</key>
		<string>万利达商业中心</string>
		<key>address</key>
		<string>广东省广州市番禺区南村镇万利达商业中心</string>
	</dict>
	<key>16</key>
	<dict>
		<key>lon</key>
		<string>113.387428</string>
		<key>lat</key>
		<string>22.959682</string>
		<key>name</key>
		<string>广东第二师范学院番禺附属中学</string>
		<key>address</key>
		<string>广东省广州市番禺区东环街道螺山路2号</string>
	</dict>
	<key>17</key>
	<dict>
		<key>lon</key>
		<string>113.383136</string>
		<key>lat</key>
		<string>22.938895</string>
		<key>name</key>
		<string>番禺大厦</string>
		<key>address</key>
		<string>广东省广州市番禺区市桥街道盛泰路28</string>
	</dict>
	<key>18</key>
	<dict>
		<key>lon</key>
		<string>113.317475</string>
		<key>lat</key>
		<string>23.047258</string>
		<key>name</key>
		<string>巴帝利·灯塔吧</string>
		<key>address</key>
		<string>广东省广州市番禺区洛浦街道喜洲吧</string>
	</dict>
	<key>19</key>
	<dict>
		<key>lon</key>
		<string>113.311444</string>
		<key>lat</key>
		<string>23.028243</string>
		<key>name</key>
		<string>凯迪大厦(新联路)</string>
		<key>address</key>
		<string>广东省广州市番禺区大石街道通用酒店</string>
	</dict>
	<key>20</key>
	<dict>
		<key>lon</key>
		<string>113.316122</string>
		<key>lat</key>
		<string>23.025004</string>
		<key>name</key>
		<string>建华汇商业中心东街A座</string>
		<key>address</key>
		<string>广东省广州市番禺区大石街道建华汇商业中心东街A座</string>
	</dict>
	<key>21</key>
	<dict>
		<key>lon</key>
		<string>113.327837</string>
		<key>lat</key>
		<string>23.022871</string>
		<key>name</key>
		<string>广州格利蒙那提琴有限公司</string>
		<key>address</key>
		<string>广东省广州市番禺区大石街道朝阳东路381</string>
	</dict>
	<key>22</key>
	<dict>
		<key>lon</key>
		<string>113.33449</string>
		<key>lat</key>
		<string>23.01744</string>
		<key>name</key>
		<string>粤安大酒店</string>
		<key>address</key>
		<string>广东省广州市番禺区大石街道迎宾路370号</string>
	</dict>
	<key>23</key>
	<dict>
		<key>lon</key>
		<string>113.372258</string>
		<key>lat</key>
		<string>22.973929</string>
		<key>name</key>
		<string>龙美村</string>
		<key>address</key>
		<string>广东省广州市番禺区东环街道龙美村</string>
	</dict>
	<key>24</key>
	<dict>
		<key>lon</key>
		<string>113.374104</string>
		<key>lat</key>
		<string>22.978907</string>
		<key>name</key>
		<string>天安菁华公寓3栋</string>
		<key>address</key>
		<string>广东省广州市番禺区南村镇天安菁华公寓3栋</string>
	</dict>
	<key>25</key>
	<dict>
		<key>lon</key>
		<string>113.35123</string>
		<key>lat</key>
		<string>22.982246</string>
		<key>name</key>
		<string>表哥好味鹅(番禺店)</string>
		<key>address</key>
		<string>广东省广州市番禺区南村镇表哥好味鹅(番禺店)</string>
	</dict>
	<key>26</key>
	<dict>
		<key>lon</key>
		<string>113.357109</string>
		<key>lat</key>
		<string>22.987125</string>
		<key>name</key>
		<string>植地庄抗日战斗烈士纪念碑</string>
		<key>address</key>
		<string>广东省广州市番禺区南村镇迎宾大道868</string>
	</dict>
	<key>27</key>
	<dict>
		<key>lon</key>
		<string>113.411761</string>
		<key>lat</key>
		<string>22.998167</string>
		<key>name</key>
		<string>周地岗</string>
		<key>address</key>
		<string>广东省广州市番禺区石基镇周地岗</string>
	</dict>
	<key>28</key>
	<dict>
		<key>lon</key>
		<string>113.439399</string>
		<key>lat</key>
		<string>22.997851</string>
		<key>name</key>
		<string>大镇岗</string>
		<key>address</key>
		<string>广东省广州市番禺区化龙镇大镇岗</string>
	</dict>
	<key>29</key>
	<dict>
		<key>lon</key>
		<string>113.446094</string>
		<key>lat</key>
		<string>22.947434</string>
		<key>name</key>
		<string>石碁中学</string>
		<key>address</key>
		<string>广东省广州市番禺区石基镇石碁中学</string>
	</dict>
	<key>30</key>
	<dict>
		<key>lon</key>
		<string>113.512012</string>
		<key>lat</key>
		<string>22.975568</string>
		<key>name</key>
		<string>莲花山码头</string>
		<key>address</key>
		<string>广东省广州市番禺区石楼镇海滨大道6号</string>
	</dict>
	<key>31</key>
	<dict>
		<key>lon</key>
		<string>113.361055</string>
		<key>lat</key>
		<string>23.124855</string>
		<key>name</key>
		<string>天河区</string>
		<key>address</key>
		<string>广东省广州市天河区天园街道天府路1</string>
	</dict>
	<key>32</key>
	<dict>
		<key>lon</key>
		<string>113.350584</string>
		<key>lat</key>
		<string>23.11933</string>
		<key>name</key>
		<string>广州广电中心A栋</string>
		<key>address</key>
		<string>广东省广州市天河区冼村街道平云路163平</string>
	</dict>
	<key>33</key>
	<dict>
		<key>lon</key>
		<string>113.336937</string>
		<key>lat</key>
		<string>23.126197</string>
		<key>name</key>
		<string>广州维多利酒店</string>
		<key>address</key>
		<string>广东省广州市天河区冼村街道维多利大厦</string>
	</dict>
	<key>34</key>
	<dict>
		<key>lon</key>
		<string>113.401568</string>
		<key>lat</key>
		<string>23.109304</string>
		<key>name</key>
		<string>东圃(地铁站)</string>
		<key>address</key>
		<string>广东省广州市天河区前进街道东圃(地铁站)</string>
	</dict>
	<key>35</key>
	<dict>
		<key>lon</key>
		<string>113.398693</string>
		<key>lat</key>
		<string>23.107665</string>
		<key>name</key>
		<string>东圃码头</string>
		<key>address</key>
		<string>广东省广州市天河区前进街道东圃码头</string>
	</dict>
	<key>36</key>
	<dict>
		<key>lon</key>
		<string>113.422425</string>
		<key>lat</key>
		<string>23.11181</string>
		<key>name</key>
		<string>天河明珠中英文学校</string>
		<key>address</key>
		<string>广东省广州市天河区前进街道天河明珠中英文学校</string>
	</dict>
	<key>37</key>
	<dict>
		<key>lon</key>
		<string>113.389635</string>
		<key>lat</key>
		<string>23.116291</string>
		<key>name</key>
		<string>车陂南(地铁站)</string>
		<key>address</key>
		<string>广东省广州市天河区天园街道车陂南(地铁站)</string>
	</dict>
	<key>38</key>
	<dict>
		<key>lon</key>
		<string>113.384915</string>
		<key>lat</key>
		<string>23.131051</string>
		<key>name</key>
		<string>同心公园</string>
		<key>address</key>
		<string>广东省广州市天河区棠下街道八达通信(龙门路)</string>
	</dict>
	<key>39</key>
	<dict>
		<key>lon</key>
		<string>113.317366</string>
		<key>lat</key>
		<string>23.105831</string>
		<key>name</key>
		<string>新理想华庭</string>
		<key>address</key>
		<string>广东省广州市海珠区赤岗街道琴海居</string>
	</dict>
	<key>40</key>
	<dict>
		<key>lon</key>
		<string>113.315049</string>
		<key>lat</key>
		<string>23.101055</string>
		<key>name</key>
		<string>《健康之路》杂志社</string>
		<key>address</key>
		<string>广东省广州市海珠区赤岗街道金菊路103号</string>
	</dict>
	<key>41</key>
	<dict>
		<key>lon</key>
		<string>113.30432</string>
		<key>lat</key>
		<string>23.140878</string>
		<key>name</key>
		<string>广州动物园猛兽区</string>
		<key>address</key>
		<string>广东省广州市越秀区黄花岗街道广州动物园</string>
	</dict>
	<key>42</key>
	<dict>
		<key>lon</key>
		<string>113.335219</string>
		<key>lat</key>
		<string>23.187751</string>
		<key>name</key>
		<string>南方医科大学</string>
		<key>address</key>
		<string>广东省广州市白云区京溪街道南方医科大学</string>
	</dict>
	<key>43</key>
	<dict>
		<key>lon</key>
		<string>23.117055306224895</string>
		<key>lat</key>
		<string>113.2759952545166</string>
		<key>name</key>
		<string>广州市</string>
		<key>address</key>
		<string>广州是美食之都</string>
	</dict>
</dict>
</plist>
